
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');


@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery {
    margin-left: 30px;
    margin-bottom: 30px;
    display: flex;
    list-style-type: none;
    gap: 24px;
    flex-wrap: wrap;
  
  }
  
  .gallery img {
    max-width: 360px;
    height: 100%;
    
  }